spring:
  application:
    name: order
  datasource:
    url: jdbc:mysql://localhost:3306/user?useUnicode=true&characterEncoding=utf-8&useSSL=false&serverTimezone=UTC
    driver-class-name: com.mysql.jdbc.Driver
    username: root
    password: mysql
  thymeleaf:
    cache: false
  mvc:
    hiddenmethod:
      filter:
        ## 设置form表单可按put、delete方式提交
        enabled: true
  redis:
    host: 127.0.0.1
    port: 6379
    password:
    jedis:
      pool:
        max-idle: 8
        min-idle: 0
        max-active: 8
        max-wait: -1
    timeout: 3000
    database: 0
  session:
    store-type: redis

server:
  port: 8086

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8081/eureka/
logging:
  config: classpath:logback.xml




